<p-dialog [(visible)]="editDialog" [modal]="true" [style]="{width: '450px'}" header="Commande Edit"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="ref">Ref</label>
            <input [(ngModel)]="selected.reference" autofocus id="ref" pInputText required type="text"/>
            <small *ngIf="submitted && !selected.reference" class="p-invalid">ref is required.</small>
        </div>
        <div class="p-field">
            <label for="total">Total</label>
            <input [(ngModel)]="selected.total" autofocus id="total" pInputText required type="text"/>
            <small *ngIf="submitted && !selected.total" class="p-invalid">total is required.</small>
        </div>


        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="totalPaye">Total Paye</label>
                <p-inputNumber [(ngModel)]="selected.totalPaye" id="totalPaye"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="hideEditDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
        <button (click)="edit()" class="p-button-text" icon="pi pi-check" label="Edit" pButton pRipple></button>
    </ng-template>
</p-dialog>
