<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '450px'}" header="Registration Details"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="numeroInscription">Registration Number</label>
            <input [(ngModel)]="selected.numeroInscription" disabled id="numeroInscription" pInputText type="text"/>
        </div>
        <div class="p-field">
            <label for="datedebutinscription">Registration Start date</label>
            <input [(ngModel)]="selected.datedebutinscription" disabled id="datedebutinscription" pInputText
                   type="text"/>
        </div>


        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="datefininscription">Registration End date</label>
                <p-inputNumber [(ngModel)]="selected.datefininscription" disabled
                               id="datefininscription"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Fermer" pButton
                pRipple></button>
    </ng-template>
</p-dialog>

