<meta content="no-referrer" name="referrer">


<p-card [style]="{width: '900px'}" class="container" id="start" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <div class="card" style="background-color: gainsboro">
            <h1 class="quizTitre" style="text-align: center">VOCABULARY</h1>
        </div>
        <div class="start">
            <p class="styleOfp" id="welcome">Welcome</p><br>
            <p class="styleOfp">In the Vocabulary quiz</p><br>
            <p class="styleOfp">You have 1 hour</p><br>
            <p class="styleOfp">Good luck</p><br>

            <button (click)="start()" class="p-button-rounded p-mr-2 container" id="btn-start" label="Start" pButton
                    pRipple></button>
        </div>
    </ng-template>

</p-card>
<p-card [style]="{width: '900px'}" class="container" id="vocabulary" styleClass="p-card-shadow">

    <ng-template pTemplate="header">
        <div class="card" style="background-color: gainsboro">
            <h1 class="quizTitre" style="text-align: center">VOCABULARY</h1>
            <span class="m-auto float-left  dispalyTime" style="color: #2e2e33">Time : {{displayTime()}}</span>
            <div class="p-col-2 dispalyTime" style="float: right">
                <span style="margin: auto; color: #2e2e33">{{this.items[qnprogress].numero}}
                    /{{this.service.nombreVocab}}</span>
                <p-progressBar [value]="this.items[qnprogress].numero*100/this.service.nombreVocab"
                               id="progressBar"></p-progressBar>

            </div>
        </div>
    </ng-template>

    <div>
        <div class="p-grid">
            <span class="p-card-title p-col-1"
                  style="font-family: Palatino Linotype, serif; margin-left: 5px">{{items[qnprogress]?.numero}}
                - </span>
        </div>
        <div>
            <img alt="image" id="image" src="{{items[qnprogress]?.image}}" style="width: 300px; height: 300px"/>
        </div>
        <br/><br/>
        <div class="p-formgroup-inline container">
            <div class="p-field ">
                <h5 #word style="text-align: center">{{items[qnprogress]?.word}}</h5>
            </div>
            <div>
                <i (click)="sound(items[qnprogress].word)" class="pi pi-volume-up"
                   style="font-size: 1.5rem; cursor: pointer"></i>
            </div>
        </div>

        <br/>
        <div class="p-grid">
            <div class="p-col"><input #trsword [(ngModel)]="result" class="container" name="word" pInputText
                                      style="  margin-left: 360px" type="text">
            </div>
            <div class="p-col">
                <button (click)="flip(trsword.value,items[qnprogress].result)" class="p-button-rounded p-button-raised" label="Flip" pButton
                        pRipple></button>
                <button (click)="flipAnyway()" class="p-button-rounded p-button-raised" id="filpAnyway" label="Flip anyway" pButton
                        pRipple style="  margin-left: 5px"></button>
            </div>
        </div>
        <p id="incorrect" style="color: red;margin-left: 360px">The word is incorrect</p>
        <p id="correct" style="color: #0e9f59; margin-left: 360px">That's correct!</p>
        <i class="pi pi-volume-up" style="font-size:2px"></i>
        <div class="p-card" id="translated">
            <p-panel>
                <p><span class="styleH">Translated word :</span> {{items[qnprogress]?.result}}</p><br/>
                <p><span class="styleH">Explanation : </span> {{items[qnprogress]?.explication}}</p><br/>
                <p><span class="styleH">Example :</span> {{items[qnprogress]?.exemple}}</p><br/>
            </p-panel>
        </div>
    </div>
    <ng-template class="displayTime" pTemplate="footer" style="float: left">
        <p-button (click)="next()" class="p-button-rounded p-button-raised " label="{{this.button}}"
                  ngDefaultControl style="  margin-left: 715px;"></p-button>
    </ng-template>
</p-card>

<p-card [style]="{width: '900px'}" class="container" id="mainCard" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <div class="card" style="background-color: gainsboro">
            <h2 class="quizTitre" id="quizGrammar" style=" text-align: center">VOCABULARY</h2>
        </div>
    </ng-template>
    <p class="styleOfp">You finish this quiz</p><br>
    <p class="styleOfp" id="congrats">Congratulations</p><br>
    <p class="styleOfp" id="nextTime">Hard-luck next time</p><br>
    <p class="styleOfp">Your result is = {{this.note}}/{{this.service.nombreVocab}}</p><br>
</p-card>
