<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate()" class="p-button-success p-mr-2 p-mb-2" icon="pi pi-plus" label="New" pButton
                            pRipple></button>
                    <button (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length" class="p-button-danger p-mb-2" icon="pi pi-trash" label="Delete"
                            pButton pRipple></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload [maxFileSize]="1000000" accept="image/*" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"
                                  label="Import" mode="basic"></p-fileUpload>
                    <button (click)="dt.exportCSV()" class="p-button-help p-mb-2" icon="pi pi-upload" label="Export" pButton
                            pRipple></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [(selection)]="selectes" [columns]="cols" [globalFilterFields]="['reference','total','totalPaye']" [paginator]="true"
                     [rowHover]="true"
                     [rows]="4" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     dataKey="id"
                     styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Manage Commandes</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText placeholder="Search..." type="text"/>
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="reference">Reference
                            <p-sortIcon field="reference"></p-sortIcon>
                        </th>
                        <th pSortableColumn="total">Total
                            <p-sortIcon field="total"></p-sortIcon>
                        </th>
                        <th pSortableColumn="totalPaye">Total Paye
                            <p-sortIcon field="totalPaye"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-commande pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="commande"></p-tableCheckbox>
                        </td>
                        <td>{{commande.reference}}</td>
                        <td>{{commande.total}}</td>
                        <td>{{commande.totalPaye}}</td>

                        <td>
                            <button (click)="edit(commande)" class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil" pButton
                                    pRipple></button>
                            <button (click)="view(commande)" class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list" pButton
                                    pRipple></button>
                            <button (click)="delete(commande)" class="p-button-rounded p-button-warning" icon="pi pi-trash" pButton
                                    pRipple></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-commande-create></app-commande-create>
        <app-commande-edit></app-commande-edit>
        <app-commande-view></app-commande-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
