<p-toast></p-toast>
<div class="p-col" style=" float: left">

    <p-dialog  [(visible)]="displayBasic" [style]="{width: '30vw'}" [baseZIndex]="10000">
        <p>This is the schedule of your part of teaching , the students how are in color green are the students that they are just start the courses, the others how are in color orange are the students active in your courses.</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>
<p-card  styleClass="p-card-shadow" class="container"  [style]="{width: '1400px'}">
    <button label="Instruction" pButton pRipple icon="pi pi-question"     (click)="showBasicDialog()" > </button>
    <div class="p-grid container"  style="text-align:center; margin: 0 auto" >
        <div class="p-col-12" >
            <div class="card " >
                <p-fullCalendar #fc [events]="itemsVo" [options]="options"></p-fullCalendar>

                <p-dialog [(visible)]="eventDialog"  [style]="{width: '450px'}" header="Event Details" [modal]="true" [closable]="true">
                    <ng-template pTemplate="content">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="name">Teacher name</label>
                                <input id="name" type="text" pInputText *ngIf="clickedEvent" [(ngModel)]="changedEvent.prof" [required]="true" disabled>
                            </div>

                            <div class="p-field">
                                <label for="start">From</label>
                                <p-calendar id="start" *ngIf="clickedEvent" [(ngModel)]="changedEvent.start" [showTime]="true" appendTo="body" disabled></p-calendar>
                            </div>
                            <div class="p-field">
                                <label for="end">To</label>
                                <p-calendar id="end" *ngIf="clickedEvent" [(ngModel)]="changedEvent.end" [showTime]="true" appendTo="body" disabled></p-calendar>
                            </div>

                        </div>
                    </ng-template>


                </p-dialog>
            </div>
        </div>
    </div>
</p-card>
