#header{
  background: white;
  width: 60%;
  margin-left: 20%;
}
#bodyRadio{
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
}
#result{
  width: 60%;
  margin-left: 20%;
  margin-top: 10px;
  background-color: white;
  visibility: hidden;
}
#question{
  background: white;
}
#answers{
  background: #f5f5f5;
}
#answers-radio{
  background-color: white;
  margin-top: 10px;
  height: 30px;
  font-size: 20px;
}
#answers-radio>label{
  margin-left: -50px;
}
#answers-radio > input{
  //position: absolute;
  //left: 0;
  //top: 0;
  //text-align: left;
  width: 70%;
  height: 70%;
  margin-left: -20%;
  //z-index: 1;
  cursor: pointer;
  //opacity: 0;
}
#float-input-correct-mistake{
  height: 100%;
  width: 80%;
  border: none;
  border-bottom: 2px solid cyan;
  font-size: 30px;
  font-family: "Goudy Old Style";
  color: #0a80bb;
  margin-top: 100px;
  margin-bottom: 50px;
}

#output-correct-mistake{
  height: 100%;
  width: 80%;
  font-size: 30px;
  font-family: "Goudy Old Style";
  margin-bottom: 50px;
}

#tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #1af045;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  //bottom: 80%;
  //left: 50%;
  margin-top: -40px;
  margin-left: -120px;
}

#tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1af045 transparent transparent transparent;
}

.span-correct {
  visibility: hidden;
  //width: 50px;
  background-color: #1af045;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: -40px;
  margin-left: -50px;
  font-size: 20px;
}
.span-correct::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1af045 transparent transparent transparent;
}
#translate-correct-mistak{
  height: 500px;
  width: 200px;
  font-size: 100px;
  font-family: "Goudy Old Style";
  margin-bottom: 50px;
  visibility: hidden;
}
