<div class=" card">
    <div class="p-grid">
        <div class="p-col">
            <div class="product-grid-item ">
                <div class="product-grid-item-content" >
                    <div class="product-name" style="margin-bottom: 15px"><h1>-{{this.selectedsection.libelle}}-</h1>
                    </div>
                    <!-- <iframe *ngIf=" this.selectedsection.libelle != 'Watch the video' && this.selectedsection.urlImage != null"
                               [src]='photoURL() | safe' loading="lazy" width="400" height="200" ></iframe> -->
                    <div style="width: 60%;margin: 0 auto">
                        <img *ngIf=" this.selectedsection.urlImage && !this.selectedsection.urlVideo" style="width: 100%"
                             src="{{photoURL()}}">
                        <iframe *ngIf="this.selectedsection.urlVideo && !this.selectedsection.urlImage"
                                [src]='URLVideo() | safe'
                                allowfullscreen  loading="lazy" style="width: 600px;height: 300px;" ></iframe>
                        <div *ngIf="this.selectedsection.urlVideo && this.selectedsection.urlImage" style="width: 100%;">
                            <img  src="{{photoURL()}}" style="width: 100%">
                            <div style="width: 100%">
                                <iframe [src]='URLVideo() | safe' allowfullscreen
                                        loading="lazy" style="width: 600px;height: 300px;"></iframe>
                            </div>

                        </div>
                        <img *ngIf="!this.selectedsection.urlImage && !this.selectedsection.urlVideo"
                             src="assets/notfound.jpg" style="width: 100%">


                    <div *ngIf=" this.selectedsection.contenu != null" ><h3
                            (mouseup)="dict()"   style="box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); background-color: white;white-space: pre-wrap"   >{{this.selectedsection.contenu}}</h3>
                    </div>
                    </div>
                </div>
            </div>

            <div style="position: relative;margin-top: 50px">
                <button (click)="PreviousSection()"
                        [style.visibility]="(this.selectedsection.numeroOrder != 1)? 'visible':'hidden'"
                        class="p-button-rounded" icon="pi pi-caret-left" id="previous"
                        label="Previous" pButton pRipple
                        style="margin-left: 15px; width: 120px"
                        type="button"></button>
                <button (click)="quiz()" *ngIf="this.selectedsection.categorieSection.libelle != 'Vocabulary'  "
                        [style.visibility]="(this.selectedQuiz.section.id == this.selectedsection.id )? 'visible':'hidden'"
                        class="p-button-rounded" id="quiz"
                        style="position: absolute;margin: 0;left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);top: 50%;  width: 120px"
                        label="quiz"
                        pButton
                        pRipple  type="button"></button>
                <button (click)="NextSection()"
                        [style.visibility]="(this.selectedsection.numeroOrder < this.itemssection2.length)? 'visible':'hidden'"
                        class="p-button-rounded" icon="pi pi-caret-right" id="next" label="Next"
                        pButton pRipple
                        style=" width: 120px;  position: absolute;right: 15px;"
                        type="button"></button>

            </div>

        </div>

        <div class="p-col-3 product-grid-item"  >
            <div class="product-grid-item-content" >
                <div style="margin-top: 20px">



                    <button type="button" pButton pRipple icon="pi pi-plus" style="background-color: #8b8b90; width: 100%" (click)="openCreateDict()" ></button>

                    <!-- <input  [(ngModel)]="word" pInputText placeholder="Search" style="width: 180px;" type="text"/>
                     <button pButton pRipple type="button" icon="pi pi-search"  (click)="findByWord()" style="margin-left: 2px;" ></button>

                     <p-button (click)="openCreateDict()" icon="pi pi-plus" style="margin-left: 2px;" ></p-button>
              -->
                </div>
                <div class="card" style="margin-top: 15px">
                    <p-tabMenu [model]="menu" [activeItem]="menu[0]" style="width: 100%;" ></p-tabMenu>


                    <div  id="categoriess" style="width: 100%;margin-top: 15px" [style.visibility]="'visible'" >
                        <p-timeline id="categ" align="alternate" [value]="itemssection2"  style="margin-top: 20px; width: 100%;">

                            <ng-template let-section  pTemplate="content" >
                                <tr>
                                    <td (click)="Section(section.categorieSection.libelle)"
                                        [style.color]="(section.categorieSection.libelle) == (this.selectedsection.categorieSection.libelle)? '#8b8b90' :'#1BA7AF' "
                                        style="cursor: pointer; font-weight: 600"><u>{{section.categorieSection.libelle}}</u>
                                    </td>
                                </tr>
                            </ng-template>

                        </p-timeline>

                    </div>
                    <app-chat id="chat" [style.visibility]="'hidden'"></app-chat>

                </div>

            </div>
        </div>
    </div>
    <app-dictionary-create></app-dictionary-create>
</div>
