<div class="p-grid">
    <div class="p-col-12 ">
        <p-toast></p-toast>
        <div class="card toolbar-demo">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button pButton pRipple icon="pi pi-eye" class="p-button-secondary p-button-rounded p-mr-2 p-mb-2"
                            (click)="openPreview()"></button>
                </div>

                <div class="p-toolbar-group-right">
                    <button pButton pRipple type="button" label="Save" icon="pi pi-check" (click)="save()"></button>
                </div>
            </p-toolbar>
        </div>
        <!--
                <p-card [style]="{width: '90%',margin:'0 auto'}" id="mainCard" styleClass="p-card-shadow" class="container">
                    <div class="p-grid" style="margin-top: 20px">
                        <div class="p-col-fixed" style="width: 80%" id="formCard">
                            <div class="card" styleClass="p-card-shadow">
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col-12 p-md-8" style="margin-top: 80px">
                                            <span class="p-float-label">
                                                <input id="image-url" type="text" pInputText [(ngModel)]="imageUrl" (change)="convert()">
                                                <label for="image-url">Image Url</label>
                                            </span>
                                    </div>
                                    <div class="p-field p-col-12 p-md-4" style="height: 180px">
                                        <a (click)="imagePreview()">
                                            <img src="{{sctionItem.imageUrl}}"
                                                 style="width: 100%;height: 100%">
                                        </a>
                                    </div>
                                    <div class="p-field p-col-6" style="margin-top: 10px;">
                                        <span class="p-float-label">
                                            <input id="response-input" type="text" pInputText [(ngModel)]="sctionItem.response">
                                            <label for="response-input">Response</label>
                                        </span>
                                    </div>
                                    <div class="p-field p-col-6" style="margin-top: 10px;">
                                        <span class="p-float-label">
                                            <input id="translation-input" type="text" pInputText [(ngModel)]="sctionItem.translation">
                                            <label for="translation-input">Translation</label>
                                        </span>
                                    </div>
                                    <div class="p-field p-col-6" style="margin-top: 10px;">
                                         <span class="p-float-label">
                                            <textarea id="explanation-input" rows="5" cols="30" pInputTextarea [(ngModel)]="sctionItem.explanation"></textarea>
                                            <label for="explanation-input">Explanation</label>
                                        </span>
                                    </div>
                                    <div class="p-field p-col-6" style="margin-top: 10px;">
                                        <span class="p-float-label">
                                            <textarea id="example-input" rows="5" cols="30" pInputTextarea [(ngModel)]="sctionItem.example"></textarea>
                                            <label for="example-input">Examples</label>
                                        </span>
                                    </div>
                                    <div style="margin: 0 auto">
                                        <button pButton  type="button" label="Submit" class="p-button-raised p-button-success"
                                                icon="pi pi-check" iconPos="right"  (click)="addFormule()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-col" style="width: 20%">
                            <p-tree [value]="sectionSelected.sectionItems" [style]="{position: 'relative'}" >
                                <ng-template let-node pTemplate="default" style="border: black 1px">
                                    <b>{{node.response}}</b>
                                    <button style="position: absolute;right: 35px"  pButton pRipple type="button" icon="pi pi-undo"
                                            class="p-button-rounded p-button-text" (click)="update(node)"></button>
                                    <button style="position: absolute;right: 2px" pButton pRipple type="button" icon="pi pi-times"
                                            class="p-button-rounded p-button-danger p-button-text" (click)="delete(node)"></button>
                                </ng-template>
                            </p-tree>
                        </div>
                    </div>
                </p-card>
        -->

        <div class="card" style="text-align: center">

            <div class="p-grid">

                <div class="p-col-5 p-d-flex p-ai-center p-jc-center">

                    <div class="p-fluid" style="width: 100%;text-align: center;margin-left: 20px">
                        <h5>Image Upload</h5>
                        <div class="p-field">
                         <span class="p-float-label">
                             <input id="image-url" type="text" pInputText [(ngModel)]="imageUrl"
                                    (change)="convert()">
                             <label for="image-url">Image Url</label>
                         </span>
                        </div>
                        <div class="product-item">
                            <div class="product-item-content">
                                <div>
                                    <img src="{{sctionItem.imageUrl}}" class="product-image"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-1">
                    <p-divider layout="vertical">
                    </p-divider>
                </div>
                <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
                    <div class="p-fluid" style="width: 100%;text-align: center;margin-left: 20px">
                        <h5>Image Description</h5>
                        <span class="p-float-label" style="margin-bottom: 30px">
                             <input id="response-input" type="text" pInputText [(ngModel)]="sctionItem.response">
                             <label for="response-input">Response</label>
                        </span>
                        <span class="p-float-label" style="margin-bottom: 30px">
                            <input id="translation-input" type="text" pInputText [(ngModel)]="sctionItem.translation">
                            <label for="translation-input">Translation</label>
                        </span>
                        <span class="p-float-label" style="margin-bottom: 30px">
                            <textarea id="explanation-input" rows="5" cols="30" pInputTextarea
                                      [(ngModel)]="sctionItem.explanation"></textarea>
                            <label for="explanation-input">Explanation</label>
                        </span>
                        <span class="p-float-label" style="margin-bottom: 30px">
                            <textarea id="example-input" rows="5" cols="30" pInputTextarea
                                      [(ngModel)]="sctionItem.example"></textarea>
                            <label for="example-input">Examples</label>
                        </span>
                        <div style="margin: 0 auto;width: 100%" >
                            <button pButton type="button" label="Submit" class="p-button-raised p-button-success"
                                    icon="pi pi-check" iconPos="right" (click)="addFormule()" style="width: 30%"></button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="card" style="text-align: center" >
            <p-carousel class="p-carousel" [value]="sectionItemList" [numVisible]="3" [numScroll]="1" [autoplayInterval]="2000" [circular]="false" [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="header">
                    <h3>List Of Section Items</h3>
                </ng-template>
                <ng-template let-product pTemplate="item">
                    <div class="product-item2">
                        <div class="product-item-content2">
                            <div class="p-mb-3">
                                <img [src]="product.imageUrl" [alt]="product.imageUrl" class="product-image2" />
                            </div>
                            <div>
                                <h4 class="p-mb-1">{{product.response}}</h4>
                                <div class="car-buttons p-mt-5">
                                    <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-undo" (click)="update(product)"></p-button>
                                    <p-button type="button" styleClass="p-button-danger p-button-rounded p-mr-2" icon="pi pi-times" (click)="delete(product)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>

        <app-quiz-config></app-quiz-config>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
