<p-carousel class="p-carousel" [value]="sectionItemList" [numVisible]="3"  [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h3>List Of Section Items</h3>
    </ng-template>
    <ng-template let-product pTemplate="item">
        <div class="product-item2">
            <div class="product-item-content2">
                <div class="p-mb-3">
                    <img [src]="product.imageUrl" [alt]="product.imageUrl" class="product-image2" />
                </div>
                <div>
                    <h4 class="p-mb-1">{{product.response}}</h4>
                    <div class="car-buttons p-mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-undo" (click)="update(product)"></p-button>
                        <p-button type="button" styleClass="p-button-danger p-button-rounded p-mr-2" icon="pi pi-times" (click)="delete(product)"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
