<p-dialog [(visible)]="editDialog" [modal]="true" [style]="{width: '450px'}" header="Edit Registration"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div>
            <label class="primaryLab">Registration status</label><br>
            <select (click)="findAllEtat()" [(ngModel)]="selected.etatInscription.id" class="btn btn-block btn-outline-light form-control" name="fieldName"
                    name="etat" pInputText style="background-color: gainsboro"
                    type="text">
                <option *ngFor="let e of etatinscriptionslist" [ngValue]="e.id"
                        selected="selected"> {{e.libelle}}</option>
            </select>
        </div>

        <div class="p-field">
            <label class="primaryLab">Teacher</label>
            <select (click)="findAllProf()" [(ngModel)]="selected.prof.id" class="btn btn-block btn-outline-light form-control " name="fieldName"
                    name="prof" pInputText style="background-color: gainsboro"
                    type="text">
                <option *ngFor="let c of profList " [ngValue]="c.id" selected="selected"> {{c.prenom}}</option>
            </select>
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button (click)="edit()" class="p-button-text" icon="pi pi-check" label="Edit" pButton pRipple></button>
        <button (click)="hideEditDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>

    </ng-template>
</p-dialog>
